header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
}

.header-titulo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: url(../assets/background-code.webp) center/cover no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

nav a {
  color: azure;
}

nav a:hover {
  color: cadetblue;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 98px;
  height: 94px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 12px;
  }

  nav ul {
    margin-top: 30px;
    flex-direction: column;
    gap: 12px;
  }

  .logo {
    display: block;
    width: 60px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 16px 12px;
    gap: 10px;
  }

  nav ul {
    gap: 6px;
  }

  .logo {
    width: 50px;
  }
}
