header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 98px;
  height: 94px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: red;
}

li a:hover {
  color: blue;
}

/*
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-mobile {
  display: block;
}

.logo-desktop {
  display: none;
}

.container-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
}

.list-links li {
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  .container-menu {
    margin-top: 0;
    width: 467px;
  }

  .container-menu label {
    display: none;
  }

  .container-menu nav {
    display: block;
  }

  .container-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .container-menu li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 38px 120px;
  }

  .logo {
    width: 260px;
    height: 64px;
  }

  .logo-desktop {
    display: block;
  }

  .logo-mobile {
    display: none;
  }

  .container-menu a:hover {
    color: var(--button-hover-color);
  }
}

@media screen and (min-width: 1880px) {
  .header {
    padding: 38px 160px;
  }
}
*/
