.sobre-o-curso {
  width: 400px;
  padding: 38px 48px;
  text-align: center;
  margin: 0 auto;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .sobre-o-curso {
    width: 90%;
    padding: 24px 24px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .sobre-o-curso {
    width: 100%;
    padding: 24px 16px;
  }
}
